{
  "presets": ["@vue/babel-preset-app"],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose" : true }],
    "transform-vue-jsx"
  ]
}
